.currentRouteLink{
  font-weight: 300;
}

.standoutLink{
  background-color: #33C;
  color: white;
}

.navbar{
  background-color: rgb(92, 62, 151);
  color: white;
  border: 1px;
  border-color: rgb(32, 7, 83);
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
}